@font-face {
    font-family: 'Spring Handmade';
    src: url('SpringHandmadeRegular.woff2') format('woff2'),
        url('SpringHandmadeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

